@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    min-width: 320px;
    min-height: 100vh;
    color: #212121;
    line-height: 1.3;
    font-family: 'Kalam', cursive;
    font-weight: 400;
    margin: 0;
}
input{
    outline: none;
}
img{
    max-width: 100%;
    height: auto;
}
button{
    cursor: pointer;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,p{
    margin: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
section{
    min-height: 100vh;
    padding: 50px 0;
}
.checked{
    border-bottom: 2px solid red !important;
}